@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Count == 0)
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name, "Details", new { id = customer.Id})</td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
    </table>    
}
